.calendar-container>div{
    margin: auto;
    width: 90%;
    padding: 5rem 5rem;
    max-width: 1900px;
    color: black;
    background-color:#cdcdcd4b;
}
.fc-event{
    background: rgba(251, 214, 146, 0.853)!important;
    color: black;
}
.fc .fc-timegrid-slot{
    height: 2.5rem!important;
}
td{
    border : 1px solid var(--grey)!important
}
.fc-day-grid-event .fc-content .fc-event-title-container .fc-event-title .fc-sticky{
     white-space: normal!important;
    }