.container {
  height: 100%;
  width: 6%;
  max-width: 6rem;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  background: rgb(255, 255, 255);
}

.logo{
    width: 45%;
    max-width: 5rem;
}



.menu{
    margin-top: 4rem;
    display: flex;

    flex-direction: column;
    gap: 5rem;
}

.item>svg{
    fill: rgb(0, 0, 0);
    width: 3rem;
}
